@import 'tailwindcss';

:root {
  --line: #6d6d6d;
  --line-dark: #303030;
  --description: #a0a0a0;
  --card-bg: #23262e;
  --card-bg-dark: #0d0d0d;
  --footer: #a4a4a4;
}

@font-face {
  font-family: 'Pretendard';
  src: url(./fonts/Pretendard.ttf) format('truetype');
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

#root {
  display: flex;
  justify-content: center;
}
